# 整然データ

整然データは4つの特徴をもつ

* 個々の値が1つのセルをなす
* 個々の変数が1つの列をなす
* 個々の観測が1つのギュをなす
* 個々の観測ユニットの類型が1つの表をなす

整然データでないデータの形式を雑然データとよぶ

クロス集計表（分割表）は見るにはわかりやすいが、データ分析の観点では使いづらい

人に見せる必要があるときはPythonのコードで適宜クロス集計表で変換する

他の人にデータを渡したり、オープンデータとする場合は整然データにすること

# 多変量データの管理

In [2]:
import pandas as pd
import scipy as sp
%precision 3

'%.3f'

In [3]:
fish_multi = pd.read_csv("data/3-2-1-fish_multi.csv")
print(fish_multi)

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

# グループ別の統計量

In [5]:
# groupbyで変数ごとにまとめる
group = fish_multi.groupby("species")
print(group.mean())

         length
species
A             3
B             8

In [6]:
# 標準偏差なども同様にして計算することができる
print(group.std(ddof = 1))

         length
species
A           1.0
B           2.0

In [8]:
# groupはpandasのオブジェクトになっている
group

In [10]:
# 主要な統計量いっき見
group.describe()

        length
         count mean  std  min  25%  50%  75%   max
species
A          3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
B          3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0

# クロス集計表

In [11]:
shoes = pd.read_csv("data/3-2-2-shoes.csv")
print(shoes)

   store color  sales
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9

In [14]:
cross = pd.pivot_table(
    data = shoes,
    values = "sales",
    aggfunc = "sum",
    index = "store",
    columns = "color"
)
print(cross)

color  blue  red
store
osaka    13    9
tokyo    10   15

# 共分散

* 共分散が0よりも大きい: 片方の変数が大きい値を取れば、もう片方も大きくなる
* 共分散が0よりも小さい: 片方の変数が大きい値を取れば、もう片方は小さくなる
* 共分散が0ちょうど: 変数同士に関係性がみられない